node-red backup.txt
[{"id":"6a1db64d.5dcf58","type":"mysql","z":"b2564224.c7e2c","mydb":"707aca82.3778b4","name":"Temp. CPU","x":482.0694770812988,"y":150.23611640930176,"wires":[["180c729f.40f70d","f567b691.e7ace8"]]},{"id":"f313e74c.1ced18","type":"inject","z":"b2564224.c7e2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"x":142.07640075683594,"y":138.96875762939453,"wires":[["de394763.c0bb38"]]},{"id":"180c729f.40f70d","type":"debug","z":"b2564224.c7e2c","name":"","active":false,"console":"false","complete":"false","x":656.0729293823242,"y":148.20486450195312,"wires":[]},{"id":"de394763.c0bb38","type":"function","z":"b2564224.c7e2c","name":"SQL Query","func":"msg.topic = \"SELECT * FROM TAB_CPU ORDER BY ID DESC LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":307.07640075683594,"y":149.35070037841797,"wires":[["6a1db64d.5dcf58"]]},{"id":"4bdc12f4.c246dc","type":"debug","z":"b2564224.c7e2c","name":"","active":false,"console":"false","complete":"false","x":641.0694732666016,"y":246.41666412353516,"wires":[]},{"id":"f567b691.e7ace8","type":"function","z":"b2564224.c7e2c","name":"Split","func":"var str = msg.payload;\nstr = str[0]['TValue'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":464.0729522705078,"y":246.1388931274414,"wires":[["4bdc12f4.c246dc","5339fd33.2fc364"]]},{"id":"5339fd33.2fc364","type":"ui_gauge","z":"b2564224.c7e2c","name":"","group":"55ce43ea.debdec","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":621.0694732666016,"y":305.61808013916016,"wires":[]},{"id":"8750b3f5.d9b33","type":"rpi-sensehat in","z":"b2564224.c7e2c","name":"","motion":false,"env":true,"stick":false,"x":430,"y":360,"wires":[["c6f95c7d.4787d8"]]},{"id":"c6f95c7d.4787d8","type":"debug","z":"b2564224.c7e2c","name":"","active":false,"console":"false","complete":"false","x":607,"y":355,"wires":[]},{"id":"c083c049.61204","type":"serial in","z":"b2564224.c7e2c","name":"Arduino","serial":"8cb7c4f6.59cd48","x":223,"y":512,"wires":[["785093e3.77964c"]]},{"id":"785093e3.77964c","type":"debug","z":"b2564224.c7e2c","name":"","active":true,"console":"false","complete":"false","x":516,"y":509,"wires":[]},{"id":"707aca82.3778b4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"DB_CPU","tz":""},{"id":"55ce43ea.debdec","type":"ui_group","z":"b2564224.c7e2c","name":"Default","tab":"bb8398cf.629078","disp":true,"width":"6"},{"id":"8cb7c4f6.59cd48","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"bb8398cf.629078","type":"ui_tab","z":"b2564224.c7e2c","name":"Home","icon":"dashboard"}]