node-red backup.txt
[{"id":"c083c049.61204","type":"serial in","z":"b2564224.c7e2c","name":"Arduino","serial":"8cb7c4f6.59cd48","x":90,"y":80,"wires":[["785093e3.77964c","befc1a2c.b75cf8","eb0cc421.3f26a8","c5178396.2b38b","ae710c7d.dffcb"]]},{"id":"785093e3.77964c","type":"debug","z":"b2564224.c7e2c","name":"","active":false,"console":"false","complete":"false","x":470,"y":80,"wires":[]},{"id":"befc1a2c.b75cf8","type":"function","z":"b2564224.c7e2c","name":"Humidity","func":"message1 = {};\nmessage2 = {};\n\nmsg.string = msg.payload.split(\"Current humidity = \")\nmessage1.payload = msg.string[0];\nmessage2.payload = msg.string[1];\n\nmsg.payload = message2.payload.substring(0, 4);\n//msg.payload = message2.payload;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["26e191f6.16d72e","3be27137.ccec1e"]]},{"id":"26e191f6.16d72e","type":"debug","z":"b2564224.c7e2c","name":"","active":false,"console":"false","complete":"false","x":470,"y":120,"wires":[]},{"id":"3be27137.ccec1e","type":"ui_gauge","z":"b2564224.c7e2c","name":"","group":"55ce43ea.debdec","order":0,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":160,"wires":[]},{"id":"eb0cc421.3f26a8","type":"function","z":"b2564224.c7e2c","name":"Temperature","func":"message1 = {};\nmessage2 = {};\n\nmsg.string = msg.payload.split(\"temperature = \")\nmessage1.payload = msg.string[0];\nmessage2.payload = msg.string[1];\n\nmsg.payload = message2.payload.substring(0, 4);\n//msg.payload = message2.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["31063d4b.1f3aa2","8ea3db60.b2a868"]]},{"id":"31063d4b.1f3aa2","type":"debug","z":"b2564224.c7e2c","name":"","active":false,"console":"false","complete":"false","x":470,"y":220,"wires":[]},{"id":"8ea3db60.b2a868","type":"ui_gauge","z":"b2564224.c7e2c","name":"","group":"55ce43ea.debdec","order":0,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":260,"wires":[]},{"id":"c5178396.2b38b","type":"function","z":"b2564224.c7e2c","name":"X","func":"message1 = {};\nmessage2 = {};\n\nmsg.string = msg.payload.split(\"X = \")\nmessage1.payload = msg.string[0];\nmessage2.payload = msg.string[1];\n\nmsg.payload = message2.payload.substring(0, 2);\n//msg.payload = message2.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["81b3e624.c53ea8"]]},{"id":"81b3e624.c53ea8","type":"ui_gauge","z":"b2564224.c7e2c","name":"","group":"55ce43ea.debdec","order":0,"width":"6","height":"6","gtype":"gage","title":"X","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":300,"wires":[]},{"id":"ae710c7d.dffcb","type":"function","z":"b2564224.c7e2c","name":"Y","func":"message1 = {};\nmessage2 = {};\n\nmsg.string = msg.payload.split(\"Y = \")\nmessage1.payload = msg.string[0];\nmessage2.payload = msg.string[1];\n\nmsg.payload = message2.payload.substring(0, 2);\n//msg.payload = message2.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["dd57be7.2f0964"]]},{"id":"dd57be7.2f0964","type":"ui_gauge","z":"b2564224.c7e2c","name":"","group":"55ce43ea.debdec","order":0,"width":"6","height":"6","gtype":"gage","title":"Y","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":340,"wires":[]},{"id":"8cb7c4f6.59cd48","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"55ce43ea.debdec","type":"ui_group","z":"b2564224.c7e2c","name":"Default","tab":"bb8398cf.629078","disp":true,"width":"12"},{"id":"bb8398cf.629078","type":"ui_tab","z":"b2564224.c7e2c","name":"Home","icon":"dashboard"}]
